<!--start intro-->
<section id="intro">
  <div class="quote-container">
    <p class="quote">Your account has been disabled. <br/>Contact <%= link_to "info@webstripe.com", "mailto:info@webstripe.com" %> for more info.</p>
  </div>
</section>

