$light: #e9e5ca
$dark: #050011
$red: #db0909
$green: #5ec50b
$yellow: #e9bb03
$blue: #0973c5
$grayed: #cac9b0
$serif: "Vollkorn", serif
$sans: "Share", sans-serif
body
  background-color: $light
.container
  width: 100%

div.header
  width: 100%
  z-index: 2
  background-color: $dark
  height: 53px
  position: fixed
  padding-left: 25px
  padding-top: 10px
  span
    font-family: $serif
    font-size: 18px
    color: $light
    display: block
  a
    font-style: italic
    font-family: serif
    font-size: 18px
    color: $red
  img
    max-height: 49px
    float: right
    margin-right: 40px
    margin-top: -25px

div#empty-stripe
  height: 300px
  width: 300px
  z-index: -1 !important
  background-color: $light !important
  border-color: $light !important

#show-stripe
  margin: 0 auto
  text-align: center
  padding-top: 200px
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

div.stripe
  z-index: 1
  text-align: center
  width: 760px
  margin: 0 auto
  .item
    z-index: 2
    position: absolute
    display: inline-block
    text-align: center
    background-color: $dark
    border: 17px solid $dark
    vertical-align: middle
    min-width: 250px
    max-width: 600px
    max-height: 445px
  p
    font-family: $serif
    font-size: 24px
    color: $light
    line-height: 36px
    text-align: left
    min-width: 380px
    &.text-stripe
      padding: 15px
  img
    max-width: 593px
    max-height: 445px


body[data-alignment="horizontal"]
  div.stripe
    width: auto
  .item
    top: 150px
    min-width: 350px !important
    position: absolute
footer
  z-index: 3
  height: 75px
  background-color: $dark
  width: 100%
  bottom: 0
  position: fixed
  line-height: 75px
  span
    text-transform: uppercase
    font-family: $sans
    font-size: 22px
    width: 350px
    color: $light
    margin-left: 30px
    display: block
    float: left

  #slider
    width: 600px
    float: left
    height: 65px
  img
    float: right
    margin-top: 35px
    margin-right: 45px
    display: block



