/*p.controls
  float: left
  a
    width: 100px
    display: block
    margin-bottom: 5px

form, div.stripe
  img
    height: 100px

a#remove-existing-item
  color: #D7524D*/

/*Stripe page*/

/*New stripe*/


.new-stripe-container {
		width: 570px;
		margin: 0 auto;
		padding-top: 50px;
	}

.spripe-box-top {
		width: 550px;
		height: 350px;
		border: 10px solid #050011;
	}

.stripe-input {
		margin: 15px;
		height: 270px;
		float:left;
		width: 75%;
		border: 2px solid #050011;
	}
	
.stripe-input-content {
	border: none;
	height: 262px;
	width: 400px;
	outline: none;
	background: transparent;
	line-height: 1;
	background-image: url('/assets/stripeinputbg.png');
	background-position: top left;
	background-repeat: no-repeat;
}

.stripe-options {
		float: right;
		margin-right: 7px;
			text-align: center;
	}

.stripe-number {
	margin: 20px 30px 30px 30px;
	border: 2px solid #050011;
	}
	
.number {
		font: 12px verdana;
		font-weight:bold;
		text-align: center;
	}

#stripe-menu{
	width: 95px;
	}

#stripe-menu a{
		font: 14px 'Vollkorn', Arial, sans-serif;
		color: #cac7b8;
		text-decoration: none;
		
		img {
			margin-right: 45px;
			margin-left: 38px;
		}
	}

#stripe-menu li{
		margin-bottom: 20px;
	}

.add-image-container {
		clear: both;
		font: 20px 'Vollkorn', Arial, sans-serif;
		color: #050011;
		margin: 10px 0px 0px 15px;
	}
	
.add-image-container a {
		color: #db0909;
		text-decoration: none;
	}
	
	.add-image-container a:hover {
			text-decoration: underline;
	}

.stripe-box-bottom {
		width: 510px;
		margin: 0 auto;
		height: 150px;
		border-left: 10px solid #d0ccbe;
		border-right: 10px solid #d0ccbe;
		border-bottom: 10px solid #d0ccbe;

	}

.stripe-bottom-options {
	width: 125px;
	margin: 0 auto;
	padding-top: 30px;
	}
	
#stripe-bottom-menu a {
	font: 18px 'Share', Arial, sans-serif;
	color: #050011;
	text-decoration: none;
	
	img {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

#stripe-bottom-menu li {
	margin-bottom: 20px;
}

