<div class="page-title">
  <div class="title-flag" id="flag-help">Help</div>
</div>
  <div class="data-container">
    
  <div class="static-text">
    <p class="italic">Got stuck somewhere?</br>
      Having issues with the functionality?</br>
      Want to upgrade your account?</br>
      Or maybe you're suffering from a bad case of writer's block?</p>
    </br>
    <p>No problem, we're here to help :)</br>
    Forget FAQ's and let's talk directly about it.</p></br>
    
    <p>Drop us a quick note at  <%= link_to "info@webstripe.co", "mailto:info@webstripe.co" %> 
      and we'll help you sort it out right away. 
    Or contact us through <%= link_to "@WebstripeCo", "http://twitter.com/webstripeco", :target => "_blank" %>, 
    via Twitter.</p></br>
    
    <p>All yours,</br>
    Daniel G.</p></br>
  </div>
</div>