<h2>Help Page title</h2>
<p>Got stuck somewhere?
Having issues with the functionality?
Want to upgrade your account?
Or maybe you're suffering from a bad case of writer's block?

No problem, we're here to help :) 
Forget FAQ's and let's talk directly about it. 
Drop us a quick note at  info@webstripe.co  and we'll help you sort it out right away. 
Or contact us through @WebstripeCo (link en página nueva a cuenta de twitter), via Twitter. 

All yours,
Daniel G.
</p>