/*Reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a img {border: none}

aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block}

/*end-reset*/

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f3f0dc;
  font: 14px 'Vollkorn', Arial, sans-serif;
}

/*Header*/

header {
  position: relative;
  background: black ;
  width: 100%;
  height: 60px;
  display: block;
  -webkit-box-shadow: 0px 1px 2px #b8b8b8;
}

#logo {
  display: block;
  margin: 5px 15px 0 18px;
  width: 140px;
  height: 44px;
  background: url('/assets/logo.png') no-repeat;
  text-indent: -9999em;
  float:left;
}

/*Navigation Menu*/
#top-left {
  float:left;
}

#top-right {
  float:right;
}

#top-left ul li.last a {
  border-right: 1px #bbb8ac solid;
  color: rgba(219, 9, 9, 0.7);
  text-decoration: line-through;
}

#top-right ul li.first a {
  border-left: none;
}

nav {
  padding-top: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  position: relative;
  line-height: normal;
}

nav ul li a {
  border-left: 1px #bbb8ac solid;
  font: 17px 'Share', Tahoma,sans-serif;
  color: #db0909;
  text-transform:capitalize;
  font-weight:normal;
  background-color:transparent;
  text-decoration:none;
  padding:6px 20px 6px 20px;
}

nav ul li a:hover {
  color: #b51717;
}

/*content*/

.container {
  width: 100%;
}

.page-title{
  margin-top: 18px;
  width: 195px;
  float: left;
}

.data-container{
  margin-top: 23px;
  width: 700px;
  float: left;
}

.title-flag {
  width: 65px;
  background-color: #db090a;
  height: 30px;
  color: #f3f0dd;
  padding-left: 40px;
  padding-top: 10px;
  font: 18px 'Share', Arial, sans-serif;
  font-weight: lighter;
}

#flag-signin {
  width: 65px;
  padding-left: 40px;
}

#flag-help {
  width: 45px;
  padding-left: 60px;
}

#flag-terms {
  width: 85px;
  height: 50px;
  padding-left: 40px;
}


label {
  font: 25px 'Vollkorn', Arial, sans-serif;
  font-weight: lighter;
  color: #db090a;
  margin: 0;
  padding: 0;
  font-style: italic;
  letter-spacing: 1px;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  font-size: 18px;
  outline: none !important;
  color: #050011;
  background-color: #f3f0dc;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid #b7b4a9;
  -webkit-box-shadow: none !important;
  -webkit-border-radius: 0 !important;
}

input[type="text"]{
  width: 60%;
}

input[type="email"],input[type="password"] {
  width: 80%;
}

input[type="submit"]{
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #050011;
  font: 22px 'Vollkorn', Arial, sans-serif;
  color: #db090a;
}

.static-text{
  font: 22px 'Vollkorn', Arial, sans-serif;
  font-weight: lighter;
  color: #050011;
  margin-bottom: 10px;
  margin-top: 2px;

  a, a:hover{
    font: 22px 'Vollkorn', Arial, sans-serif;
    font-weight: lighter;
    color: #db090a;
  }

  h2{
    font-weight: normal;
    margin: 10px 0px 10px 0px;
  }
}

.italic {
  font-style: italic;
}

.terms-text{
  margin-top: 20px;
  font: 16px 'Share', Arial, sans-serif;
  color: #050011;
  font-weight: bold;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#intro {
  width: 550px;
  margin: 30px 0 30px 195px;
}

#intro a {
  color: #db0909;
  text-decoration:none;
}

#intro a:hover {
  text-decoration:underline;
}

.quote {
  font: 24px 'Vollkorn', Arial, sans-serif;
  font-weight:normal;
  color: #050011;
  margin-bottom: 25px;
}
.dash {
  font: 17px 'Share', Tahoma,sans-serif;
  color: #050011;
  font-weight: bold;
}

/*Footer*/
footer {
  padding: 0 20px;
  color: #333;
  clear: both;
  margin: 25px 10px 0 10px;
  color: #d0ccbe;
}

footer p {
  text-align: left;
  margin-left: 168px;
  padding-bottom: 10px;
}

footer a {
  font: 16px 'Vollkorn', Arial, sans-serif;
  color: #0088cc;;
}

#footer-data {
  font: 18px 'Vollkorn', Arial, sans-serif;
  color: #050011;
}

#footer-tool {
  font: 18px 'Vollkorn', Arial, sans-serif;
  color: #b0ac9c;
}

#footer-tool a {
  font: 17px 'Vollkorn', Arial, sans-serif;
  color: #b0ac9c;
  text-decoration: underline;
}

div.row {
  margin-left: 0px;
}

.last-update {
  font: 22px 'Vollkorn', Arial, sans-serif;
  color: #db0909;
  font-style: italic;
}