body
  font-family: "Source Sans Pro", sans-serif

h1
  font-size: "Anton", "Source Sans Pro", sans-serif
  font-size: 26px
  line-height: 26px
  margin-bottom: 0
  margin-top: 0

div.admin-content

  float: relative
  margin-left: 300px

div.admin-sidebar
  position: fixed

  width: 275px
  h1
    i
      margin-right: 10px
    padding: 8px 5px
    color: white
    &.projects
      background-color: #396000
    &.services
      background-color: #93000f
  ul li
    font-size: 18px
    i
      float: right
    a
      color: black

a.important
  font-weight: 600
  i
    float: none !important
