<div id="text-template" style="display: none;">
  <h4>Text</h4>
  <textarea class="input-xxlarge" cols="40" name="stripe[stripe_items_attributes][new_{{seed}}][content]" placeholder="Many years later, as he faced the firing squad, Colonel Aureliano Buendía was to remember that distant afternoon when his father took him to discover ice." rows="8"></textarea>
  <input type="hidden" name="stripe_stripe_items_attributes_new_{{seed}}_item_type" value="text">
  <hr/>
</div>

<div id="embed-template" style="display:none">
  <h4>Embed</h4>
  <textarea class="input-xxlarge" cols="40" name="stripe[stripe_items_attributes][new_{{seed}}][content]" placeholder="Paste the embed code here." rows="3"></textarea>
  <input type="hidden" name="stripe_stripe_items_attributes_new_{{seed}}_item_type" value="embed">
  <hr/>
</div>
