<div id="show-stripe" class="stripe">
  <div class="item">
    <p>
      Though considered significant in artistic terms, the trilogy had proved less successful commercially. With Scary Monsters, however, Bowie achieved what biographer David Buckley called "the perfect balance".
    </p>
  </div>

  <div class="item">
    <%= image_tag "test1.png" %>
  </div>

  <div class="item">
    <p>
      The public's first taste of Scary Monsters was "Ashes to Ashes", which was released as a single one month prior to the album and made #1 in the UK.
    </p>
  </div>

  <div class="item">
    <p>
      Notwithstanding the lush textures of "Ashes to Ashes", Bowie's sound on the album was described by critics as being harsher—and his worldview more desperate—than anything he had released since Diamond Dogs (1974).
    </p>
  </div>

  <div class="item">
    <%= image_tag "test2.png" %>
  </div>
</div>

<style>
.container { width: 100%; }
</style>
