<p>You're in.</p>

<p><%= link_to "Click here", accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %> to sign up for Webstripe.</p>

<p>Start creating. End of transmission.</p>

<p>
—The management<br/>
http://webstripe.co/<br/>
http://twitter.com/WebstripeCo<br/>
</p>
