<!DOCTYPE html>
<html>
  <head>
    <title>OFICIOSVARIOS</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrap">
      <div class="admin-sidebar">
        <h1 class="admin-header">OFICIOSVARIOS</h1>
        <h2 class="projects"><i class="icon-briefcase"></i> Proyectos</h2>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="">café retiro <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Tragaluz Editores <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Puntuación <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Webstripe <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Catalejo <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">CoffeeGrid <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="" class="important">Agregar Proyecto</a></li>
        </ul>
        <h2 class="services"><i class="icon-list-alt"></i> Servicios</h2>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="">Consultoría e Investigación <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Diseño de Inteligencia <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Intervención Espacial <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="">Dirección Creativa <i class="icon-circle-arrow-right"></i></a></li>
          <li><a href="" class="important">Agregar Servicio</a></li>
        </ul>
      </div>
      <div class="admin-content">
        <h2>Editar Servicio</h2>
        <h4>Título</h4>
        <input type="text" class="input-xlarge" value="Consultoría e Investigación"/>
        <h4>Texto</h4>
        <textarea class="input-xxlarge" rows="15">Entendemos el diseño como pensamiento integral entre investigación, creación y dirección. En nuestro enfoque confluyen urbanismo, ingeniería, arquitectura, arte, gráfica, artesanía, producto, moda y tipografía.

Creemos que la innovación es híbrida y pensamos con elasticidad
profesional. En el trayecto nos gusta la complejidad, en el resultado apuntamos a la claridad.

Investigación de contexto
Exploración de nuevas tecnologías
Concepto y desarrollo de producto
Nuevos sistemas de comunicación
        </textarea>

        <p>
          <a class="btn submit btn-primary" href=""><i class="icon-ok-sign"></i> Guardar</a>
        </p>
      </div>
    </div>
  </body>
</html>
